{% extends "landing_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Encuesta — {{ block.super }}{% endblock %}

{% block extrahead %}
    {{ form.media }}

    <script type="text/javascript">
        $(document).on("google_point_map_widget:marker_create", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng); // created marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
        $(document).on("google_point_map_widget:marker_change", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng);  // changed marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
        $(document).on("google_point_map_widget:marker_delete", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng);  // deleted marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
    </script>
{% endblock extrahead %}

{% block content %}

  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row encuesta">
      <div class="col-md-12 landing__inner">
        <br>
        <h1 class="text-center">OMIBUS</h1>
        <h4 class="text-center">Encuesta de tendencia de transporte</h4>
        <br>
        <p>
          *Recuerda que para utilizar tu ubicación debes tener el GPS prendido,
          de lo contrario puedes escribirla en el cuadro de texto que dice
          <i>Ingresar el nombre o tu dirección acá</i>, elegir la mejor opción y
          despues colocar el marcador
        </p>
        <p>*Tiempo: 3 minutos</p>
        <hr>
        {% include "landing/partials/landing_form.html" %}
      </div>
    </div>
  </div>

{% endblock %}
